.container{
    display:table;
    height:100%;
}

.row{
    display: table-cell;
    vertical-align: middle;
}
/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.adminLogin{
    margin: 0 auto;
    height: 34px;
}

.adminLogin input {
    height: 34px;
    width: 100%;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border: 1px solid #cccccc;
    padding-left: 10px;
}

.adminSubmit {
    margin-top: 10px;
    margin-bottom: 10px;
}

.adminSubmit input {
    height: 34px;
    width: 100%;
    background: #FF9900;
    border: none;
    border-radius: 5px;
}

.error-tip {
    width: 100%;
    padding-top: 5px;
    color: red;
    text-align: center;
}