<!DOCTYPE html>
<html lang="en">
<head>
    <title>IAssistant</title>
    <meta charset="UTF-8">
    <link rel="Shortcut Icon" href="{{ url_for('static', filename='images/icon/favicon.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myself/base.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugin/pop_frame/simpleAlert.css') }}">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>

    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="top-nav">
        <div class="top-middle">
            <div class="top-m2">
                <ul>
                    <li onclick="window.location.href='{{ url }}'"><a>首页</a></li>
                    {% block hideMenu %}

                    {% endblock %}
                </ul>
            </div>
            <div class="login-link">
                {% if res.user_info.username %}
                    <span>当前用户: {{ res.user_info.username }}</span>
                    <a href="/login/logout/">退出登录</a>
                {% else %}
                    <a href="/login/">登录</a>
                {% endif %}


            </div>
        </div>
    </div>
    <div class="all-content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="my-footer">
        <div class="filing-number">
            <a href="http://www.beian.miit.gov.cn">浙ICP备19037818号-1</a>
        </div>
    </div>
</body>
</html>
