{% extends 'base/base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/editor.md/css/editormd.min.css" />
    <link rel="stylesheet" href="/css/myself/add/adding-note.css?v={{ getVersion }}"/>
    <link rel="stylesheet" href="/css/plugin/choice_label/tree.css?v={{ getVersion }}">


    <script src="/js/choice_label/comboTreePlugin.js"></script>
    <style>


    </style>
{% endblock %}
{% block content %}
    <div class="mid_content">
        <div class="one_note">
            <div class="note_title">
                <span style="background: #54acd2; color: white">标题</span>
                <label>
                    <input id="note_title" type="text" name="note_title">
                </label>
            </div>
            <div class="curLabel" style="padding: 20px">
                <div class="container" style="margin-left: 0">
                    <div class="row" style="width: 100%">
                        <div class="col-xs-2 choiceLabel">
                            <span>选择标签</span>
                        </div>
                        <div class="col-xs-6">
                            <div id="justAnInputBox2" class="select-tree-wrap"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="add_label">
                <span style="background: #54acd2; color: white">自定义标签</span>

                <label>
                    <input type="text" id="label_name">
                </label>
                <button id="add_label" style="outline: none" type="button" class="btn btn-default btn-circle" onclick="add_label()">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
            <div id="note_label" class="note_label">


            </div>

            <div class="straight_line">

            </div>

            <div class="add_instructions">
                <span style="background: #54acd2; color: white">笔记说明</span>
                <label>
                    <textarea id="add_instructions">

                    </textarea>
                </label>
            </div>

            <div id="editor">
                <!-- Tips: Editor.md can auto append a `<textarea>` tag -->
                <label>
                    <textarea style="display:none;" id="note_content"></textarea>
                </label>
            </div>
            <div class="foot_button">
                <label>
                    <input type="button" value="保存" onclick="save_note()">
                </label>
            </div>
        </div>
    </div>
    <script>
        let SampleJSONData = [
            {
                "id": '73A64FDAFFC',
                "title": "总裁办",
                        "subs": [
                    {
                        "id": '73At4FDoFFC',
                        "title": "张三"
                    },
                                {
                        "id": '73At4FpAFFC',
                        "title": "李四"
                    },
                    {
                        "id": '73AtwFDAFFC',
                        "title": "数据中心",
                        "subs": [
                            {
                                "id": '13At4FDAFFC',
                                "title": "王五"
                            },
                            {
                                "id": '83At4FDAFFC',
                                "title": "赵武"
                            },
                                                {
                                "id": '83Al4FDAFFC',
                                "title": "通讯中心",
                                                        "subs": [
                                                            {
                                                    "id": '73At4FmAFFC',
                                                    "title": "谢一"
                                                },
                                                            {
                                                    "id": '73At4FpAFFC',
                                                    "title": "谢四"
                                                }
                                                        ]
                            }
                        ]
                    }
                ]
            },
            {
                "id": '72A64FDAFFC',
                "title": "技术部",
                "subs": [
                    {
                        "id": '73At4FDAFFC',
                        "title": "赵小刚"
                    },
                    {
                        "id": '73AtuFDAFFC',
                        "title": "李小刚"
                    },
                    {
                        "id": '73yt4FDAFFC',
                        "title": "王小刚"
                    }
                ]
            }
        ];

        let aaa = $('#justAnInputBox1').comboTree({
                source : SampleJSONData,
                isMultiple: false,
                isFirstClassSelectable:false, //第一级是否可选
                cascadeSelect: true,
                selectedlength:3 //最多可选
        });

        let bbb = $('#justAnInputBox2').comboTree({
                source : SampleJSONData,
                isMultiple: true,
                isFirstClassSelectable:false, //第一级是否可选
                cascadeSelect: true,
                selectedlength: 100 //最多可选
        });

        // bbb.datas(); //获取数据

    </script>
    <script type="text/javascript">
        console.log({{ data | tojson }});
        // 添加标签
        function add_label(){
            let label_name = document.getElementById('label_name');

            if(label_name.value === "" || label_name.value === null)
            {
                alert("请输入标签名");
            }
            else {
                if(/^[a-zA-Z]+$/.test(label_name.value)){
                    label_name.value = label_name.value.replace(label_name.value[0], label_name.value[0].toUpperCase());
                }

                let di = document.createElement('div');
                di.classList.add("my_label");
                di.style.borderColor = "#cca4e3";

                di.innerHTML = label_name.value + "<i class=\"glyphicon glyphicon-remove rm\" onclick=\"remove_label(this)\"></i>";
                let note_label = document.getElementById('note_label');
                note_label.appendChild(di);
                label_name.value = "";
            }
        }
        // 删除标签
        function remove_label(e) {
            // console.log(e.parentNode);
            e.parentNode.remove();
        }
    </script>
    <script src="/js/jquery.min.js"></script>
    <script src="/editor.md/editormd.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var editor = editormd("editor", {
                width: "100%",
                height: "500px",
                // markdown: "xxxx",     // dynamic set Markdown text
                path : "{{ url }}/editor.md/lib/"  // Autoload modules mode, codemirror, marked... dependents libs path
            });
        });
    </script>
    <script>
        // 保存
        function save_note() {
            let note_title = document.getElementById("note_title").value;
            let category_name = document.getElementsByClassName("newSelectTitle")[0].innerText;
            let labels = document.getElementById("note_label").childNodes;
            let str_labels = "";
            for(let j = 1; j < labels.length; j++){
                let s = labels[j].innerText.toString();
                str_labels += s + "|";
            }
            let note_instructions = document.getElementById("add_instructions").value;
            let note_content = document.getElementsByClassName("CodeMirror-code")[0].childNodes;
            let str_content = "" ;
            for(let k = 0; k < note_content.length; k++){
                str_content += note_content[k].innerText + "\n";
            }
            $.ajax({
                type: "POST",
                url: "/add/",
                data: JSON.stringify({'note_title': note_title, 'category_name': category_name, 'str_labels': str_labels, 'note_instructions': note_instructions,
                    'str_content': str_content
                }),
                dataType: "json",
                headers: {
                    'Content-Type': 'application/json',
                },
                success: function (response) {
                    if(response.msg === 'ok'){
                        alert("保存成功！");
                        window.location.href = "/add/";
                    }else{
                        alert("保存失败")
                    }
                }
            })
        }
    </script>
{% endblock %}