{% extends 'base/base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/editor.md/css/editormd.min.css" />
    <link rel="stylesheet" href="/css/myself/adding-note.css?v={{ getVersion }}"/>
    <link rel="stylesheet" href="/css/plugin/choice_label/tree.css?v={{ getVersion }}">


    <script src="/js/choice_label/comboTreePlugin.js"></script>
    <style>
        .CodeMirror {
            min-height: 500px;
        }
        .CodeMirror-gutters {
            min-height: 500px;
        }
        .CodeMirror-scroll {
            min-height: 500px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="mid-content">
        <div class="one-note">
            <div class="note-title">
                <span style="background: #54acd2; color: white">标题</span>
                <label>
                    <input id="noteTitle" type="text" name="note-title">
                </label>
            </div>
            <div class="curLabel" style="padding: 20px">
                <div class="container" style="margin-left: 0">
                    <div class="row" style="width: 100%">
                        <div class="col-xs-2 choiceLabel">
                            <span>选择标签</span>
                        </div>
                        <div class="col-xs-6" style="margin-left: 8px">
                            <div id="justAnInputBox2" class="select-tree-wrap"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="add-label">
                <span style="background: #54acd2; color: white">自定义标签</span>

                <label>
                    <input type="text" id="labelName">
                </label>
                <button id="addLabel" style="outline: none" type="button" class="btn btn-default btn-circle" onclick="addLabel()">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
            <div id="noteLabel" class="note-label">


            </div>

            <div class="straight-line">

            </div>

            <div class="instructions">
                <span style="background: #54acd2; color: white">笔记说明</span>
                <label>
                    <textarea id="instructions">

                    </textarea>
                </label>
            </div>

            <div id="editor">
                <label>
                    <textarea style="display:none;" id="noteContent"></textarea>
                </label>
            </div>
            <div class="foot-button">
                <label>
                    <input type="button" value="保存" onclick="saveNote()">
                </label>
            </div>
        </div>
    </div>
    <script>
        // 添加现有标签
        let SampleJSONData = {{ data | tojson }};
        let bbb = $('#justAnInputBox2').comboTree({
                source : SampleJSONData,
                isMultiple: true,
                isFirstClassSelectable:false, //第一级是否可选
                cascadeSelect: true,
                selectedlength: 3 //最多可选
        });
    </script>
    <script type="text/javascript">
        // 添加自定义标签
        function addLabel(){
            let labelName = document.getElementById('labelName');

            if(labelName.value === "" || labelName.value === null)
            {
                alert("请输入标签名");
            }
            else {
                if(/^[a-zA-Z]+$/.test(labelName.value)){
                    labelName.value = labelName.value.replace(labelName.value[0], labelName.value[0].toUpperCase());
                }

                let di = document.createElement('div');
                di.classList.add("my-label");
                di.style.borderColor = "#cca4e3";

                di.innerHTML = labelName.value + "<i class=\"glyphicon glyphicon-remove rm\" onclick=\"removeLabel(this)\"></i>";
                let noteLabel = document.getElementById('noteLabel');
                noteLabel.appendChild(di);
                labelName.value = "";
            }
        }
        // 删除标签
        function removeLabel(e) {
            // console.log(e.parentNode);
            e.parentNode.remove();
        }
    </script>
    <script src="/js/jquery.min.js"></script>
    <script src="/editor.md/editormd.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var editor = editormd("editor", {
                width: "100%",
                minHeight: "500px",
                // markdown: "xxxx",     // dynamic set Markdown text
                path : "{{ url }}/editor.md/lib/"  // Autoload modules mode, codemirror, marked... dependents libs path
            });
        });
    </script>
    <script>
        // 保存
        function saveNote() {
            let noteTitle = document.getElementById("noteTitle").value;
            let labels = document.getElementById("noteLabel").childNodes;
            let existingLabel = document.getElementsByClassName("input-keyword-item");
            let existingLabels = "";
            for(let k = 0; k < existingLabel.length; k++){
                let m = existingLabel[k].childNodes[0].innerText.toString();
                existingLabels += m + "|";

            }

            console.log(existingLabels);
            let customLabels = "";
            for(let j = 1; j < labels.length; j++){
                let s = labels[j].innerText.toString();
                customLabels += s + "|";
            }
            let noteInstructions = document.getElementById("instructions").value;
            let noteContent = document.getElementsByClassName("CodeMirror-code")[0].childNodes;
            let strContent = "" ;
            for(let k = 0; k < noteContent.length; k++){
                strContent += noteContent[k].innerText + "\n";
            }
            console.log(strContent);
                        $.ajax({
                type: "POST",
                url: "/add/",
                data: JSON.stringify({'note_title': noteTitle, 'existing_label': existingLabels, 'custom_labels': customLabels,
                    'note_instructions': noteInstructions, 'str_content': strContent
                }),
                dataType: "json",
                headers: {
                    'Content-Type': 'application/json',
                },
                success: function (response) {
                    if(response.msg === 'ok'){
                        alert("保存成功！");
                        window.location.href = "/add/";
                    }else{
                        alert("保存失败")
                    }
                }
            })


        }
    </script>
{% endblock %}