{% extends 'base/base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myself/home/home.css') }}">
    <style>

    </style>
{% endblock %}

{% block content %}
<div class="note_list">
    <div id="le" class="le">
        <div class="sort_note">
            <ul>
                <li class="active">推荐</li>
                <li>最新添加</li>
                <li>最多点赞</li>
                <li>最多查看</li>
            </ul>
        </div>
        <ul class="notes">
            {% for r in res.get('note_msg') %}
            <li class="one_notes">
                <div class="list_detail">
                    <div class="note_title">
                        {% if r[1] | length <= 30 %}
                        <a style="font-size: 24px;font-weight: bold;" href="{{ url }}/detail/{{ r[0] }}">{{ r[1] }}</a>
                        {% else %}
                        <a style="font-size: 24px;font-weight: bold;" href="{{ url }}//detail/{{ r[0] }}">{{ r[1][:25] }} ...</a>
                        {% endif%}
                        <div class="edit_note">
                            <span><a href="{{ url }}/update/{{ r[0] }}">修改</a></span>
                            <span class="v_line">|</span>
                            <span><a href="{{ url }}/delete/{{ r[0] }}">删除</a></span>
                        </div>
                    </div>

                    <div class="note_content">
                        {{ r[2] }}
                    </div>
                    <div class="note_footer">
                        <div class="left_fo">
                            {% for i in r[3].split('|')[:-1] %}
                            <span>{{ i }}</span>
                            {% endfor %}
                        </div>
                        <div class="right_fo">
                            <span>
                                <img src="{{ url_for('static', filename='images/icon/good.png') }}" alt="">
                            </span>
                            <span class="num">18646</span>
                            <span class="v_line">
                                |
                            </span>
                            <span>
                                <img src="{{ url_for('static', filename='images/icon/read.png') }}" alt="">
                            </span>
                            <span class="num" style="text-align: center;">{{ r[5] }}</span>
                            <span class="v_line">
                                |
                            </span>
                            <span>
                                <img src="{{ url_for('static', filename='images/icon/comment.png') }}" alt="">
                            </span>
                            <span class="num">48646</span>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="ri" class="ri">
        <div id="searchBox" class="searchBox">
            <form method="post" action="http://127.0.0.1:5000/search/" enctype="multipart/form-data">
                {{ formhome.csrf_token() }}
                {{ formhome.keyword.label }}
                {{ formhome.keyword }}
                {% for message in get_flashed_messages() %}
                    {{ message }}
                {% endfor %}
            </form>

            <input typeof="submit" />
        </div>
    </div>
</div>
{% endblock %}
