{% extends 'base/base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
     <style>
        .mid_content {
            width: 80%;
            height: auto;
            min-height: 1000px;
            margin: 0 auto;
        }
        .one_note {
            float: left;
            width: 80%;
            height: auto;
            min-height: 800px;
            background: white;
            margin-left: 10px;
        }
        .msg_list {
            float: left;
            width: 18%;
            height: auto;
            min-height: 800px;
            background: white;
        }
        .note_title {
            padding: 20px;
        }
        .note_title span {
            width: auto;
            height: 30px;
            padding: 10px;

        }
        .note_con {
            padding: 20px;

        }
        .straight_line {
            width: 100%;
            height: 1px;
            border: 1px solid #F0F1F2;
        }
        .note_label {
            padding: 20px;
        }
        .note_label span{
            border: 1px solid;
            border-radius: 5px;
            margin: 5px;
            padding: 10px;
            text-align: center;

        }
    </style>
{% endblock %}
{% block content %}
    <div class="mid_content">
        <div class="msg_list">

        </div>
        <div class="one_note">
            <div class="note_title">
                <h3>管理程序员的第三年，给大家的一些建议</h3>
                <br>
                <p><span>2019-11-02 18:18:37</span><span style="color: #54acd2">作者: hello</span><span>阅读数：123231</span></p>

            </div>
            <div class="note_label">
                <span class="my_label" style="border-color: #cca4e3; text-align: center">开心</span>
                <span class="my_label" style="border-color: #70f3ff">乐于助人</span>
            </div>
            <div class="straight_line">

            </div>
            <div class="note_con">
                <p>
                    整理了一些逻辑推理题，这些逻辑推理题能够提高大家的逻辑思考能力，同时也能给大家的学习带来一定的趣味性。希望大家看到题之后，不要着急看答案，要先独立思考解决。答案的获取可以关注我的公众号：[AlbertYang]回复相应题目获得，答案不仅包括了机智类的回答，而且包括了富有数学内涵的办法，当然答案不是唯一的，如果你有更好的答案，请联系我，如果答案合理，我会把你的答案加进去并附上提供者。同时我也把每一个题制成了一个单独的海报，方便大家收藏，保存或者分享给朋友，废话不多说，让我们踏上有趣的推理之路吧。
                </p>
            </div>
        </div>

    </div>

{% endblock %}