{% extends 'base/base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link rel="stylesheet" href="editor.md/css/editormd.preview.css" />

     <style>
        .mid_content {
            width: 80%;
            height: auto;
            min-height: 1000px;
            margin: 0 auto;
        }
        .one_note {
            float: left;
            width: 80%;
            height: auto;
            min-height: 800px;
            background: white;
            margin-left: 10px;
        }
        .msg_list {
            float: left;
            width: 18%;
            height: auto;
            min-height: 800px;
            background: white;
        }
        .note_title {
            padding: 20px;
        }
        .note_title span {
            width: auto;
            height: 30px;
            padding: 10px;

        }
        .note_con {
            padding: 20px;

        }
        .straight_line {
            width: 100%;
            height: 1px;
            border: 1px solid #F0F1F2;
        }
        .note_label {
            padding: 20px;
        }
        .note_label span{
            border: 1px solid;
            border-radius: 5px;
            margin: 5px;
            padding: 10px;
            text-align: center;

        }
    </style>
{% endblock %}
{% block content %}
    <div class="mid_content">
        <div class="msg_list">

        </div>
        <div class="one_note">
            {% set j = res.get('note_det') %}
            <div class="note_title">
                <h3>{{ j[0] }}</h3>
                <br>
                <p><span>{{ j[1] }}</span><span style="color: #54acd2">作者: hello</span><span>阅读数：123231</span></p>

            </div>
            <div class="note_label">
                {% for i in j[2] %}
                <span class="my_label" style="border-color: #cca4e3; text-align: center">{{ i }}</span>
                {% endfor %}
{#                <span class="my_label" style="border-color: #cca4e3; text-align: center">开心</span>#}
{#                <span class="my_label" style="border-color: #70f3ff">乐于助人</span>#}
            </div>
            <div class="straight_line">

            </div>
            <div class="note_con">
                <div id="test-markdown-view">
                    <!-- Server-side output Markdown text -->
                        <textarea style="display:none;">
{{ j[3] }}
                        </textarea>
                </div>
            </div>

        </div>

    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/editor.md/editormd.js"></script>
    <script src="/editor.md/lib/marked.min.js"></script>
    <script src="/editor.md/lib/prettify.min.js"></script>
    <script type="text/javascript">
        $(function() {
          var testView = editormd.markdownToHTML("test-markdown-view", {
                // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
                // htmlDecode : true,  // Enable / disable HTML tag encode.
                // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
                width: "100%",
                height: "500px",
                path : "http://127.0.0.1:5000/editor.md/lib/"
            });
        });

    </script>
    <script>
        let con = document.getElementById("test-markdown-view");
        console.log(con);
    </script>
{% endblock %}