{% extends 'base/base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='/editor.md/css/editormd.min.css') }}" />
    <link rel="stylesheet" href="/css/myself/update-note.css">
{% endblock %}
{% block content %}
    <div class="mid-content">
{#        <div class="msg_list">#}
{##}
{#        </div>#}
        {% set x = res.get('note_cur_msg') %}
        <div class="one-note">
            <div class="note-title">
                <span style="background: #54acd2; color: white">标题</span>
                <label>
                    <input id="noteTitle" type="text" name="note-title" value="{{ x[0] }}">
                </label>
            </div>
            <div class="add-label">
                <span style="background: #54acd2; color: white">标签名称</span>

                <label>
                    <input type="text" id="labelName">
                </label>
                <button id="addLabel" style="outline: none" type="button" class="btn btn-default btn-circle" onclick="addLabel()">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
            <div id="noteLabel" class="note-label">
                {% for i in x[1].split('|')[:-1] %}
                <div class="my-label">
                    {{ i }}
                    <i class="glyphicon glyphicon-remove rm" onclick="removeLabel(this)"></i>
                </div>
                {% endfor %}

            </div>


            <div class="straight-line">

            </div>

            <div class="add-instructions">
                <span style="background: #54acd2; color: white">笔记说明</span>
                <label>
                    <textarea id="addInstructions">{{ x[2] }}</textarea>
                </label>
            </div>

            <div id="editor">
                <!-- Tips: Editor.md can auto append a `<textarea>` tag -->

                <textarea id="noteContent">{{ x[3] }}</textarea>

            </div>
            <div class="foot-button">
                <label>
                    <input type="button" value="保存" onclick="saveNote()">
                </label>
            </div>
            <div id="noteUuid" class="{{ x[4] }}">

            </div>
        </div>
    </div>

    <script>
        // 添加标签
        function addLabel(){
            let labelName = document.getElementById('labelName');

            if(labelName.value === "" || labelName.value === null)
            {
                alert("请输入标签名");
            }
            else {
                if(/^[a-zA-Z]+$/.test(labelName.value)){
                    labelName.value = labelName.value.replace(labelName.value[0], labelName.value[0].toUpperCase());
                }
                let di = document.createElement('div');
                di.classList.add("my-label");
                di.style.borderColor = "#cca4e3";
                di.innerHTML = labelName.value + "<i class=\"glyphicon glyphicon-remove rm\" onclick=\"removeLabel(this)\"></i>";
                let noteLabel = document.getElementById('noteLabel');
                noteLabel.appendChild(di);
                labelName.value = "";
            }
        }
        // 删除标签
        function removeLabel(e) {
            e.parentNode.remove();
        }
    </script>
    <script src="/js/jquery.min.js"></script>
    <script src="/editor.md/editormd.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var editor = editormd("editor", {
                width: "100%",
                Height: "500px",
                // markdown: "xxxx",     // dynamic set Markdown text
                path : "{{ url }}/editor.md/lib/"  // Autoload modules mode, codemirror, marked... dependents libs path
            });
        });
    </script>


    <script>
        function saveNote() {
            let noteUuid = document.getElementById("noteUuid").className;
            let noteTitle = document.getElementById("noteTitle").value;
            let labels = document.getElementById("noteLabel").childNodes;
            let strLabels = "";
            for(let j = 1; j < labels.length; j++){
                if(j % 2 === 1){
                    if(labels[j].toString() !== labels[0].toString()) {
                        strLabels += labels[j].innerText + "|";
                        console.log(labels[j]);
                        console.log(labels[0]);
                        console.log(strLabels);
                    }
                }
            }
            let noteInstructions = document.getElementById("addInstructions").value;
            let noteContent = document.getElementById("noteContent").innerText;
            console.log(document.getElementById("noteContent").innerText);
             $.ajax({
                type: "POST",
                url: "/modification/" + noteUuid,
                data: JSON.stringify({'note_title': noteTitle, 'str_labels': strLabels, 'note_instructions': noteInstructions,
                    'str_content': noteContent
                }),
                dataType: "json",
                headers: {
                    'Content-Type': 'application/json',
                },
                success: function (response) {
                    if(response.msg === 'ok'){
                        alert("修改成功！");
                        window.location.href = "/update/" + noteUuid;
                    }else{
                        alert("修改失败")
                    }
                }
            })
        }
    </script>
{% endblock %}