{% extends 'base/base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='/editor.md/css/editormd.min.css') }}" />
    <style>
        .mid_content {
            width: 80%;
            height: auto;
            min-height: 1000px;
            margin: 0 auto;
        }

        .one_note {
            float: left;
            width: 100%;
            height: auto;
            min-height: 800px;
            background: white;
            margin-left: 10px;
        }

        .msg_list {
            float: left;
            width: 18%;
            height: auto;
            min-height: 800px;
            background: white;
        }

        .note_title {
            padding: 20px;
        }

        .note_title span {
            width: auto;
            height: 30px;
            padding: 10px;
            margin-right: 20px;
        }
        .note_title input {
            width: 400px;
            border: 1px solid #8a8a8a;
            height: 40px;
            padding-left: 10px;
            margin-left: 28px;
        }
        .add_label {
            padding: 20px;
            outline: none;
        }
        .add_label span {
            width: auto;
            height: 30px;
            padding: 10px;
            margin-right: 20px;
        }
        .add_label input {
            width: 150px;
            height: 40px;
            border: 1px solid #8a8a8a;
            padding-left: 10px;

        }
        .btn-circle {
            width: 40px;
            height: 40px;
            text-align: center;
            padding: 10px;
            font-size: 12px;
            line-height: 1.33;
            border-radius: 25px;
            margin-left: 20px;
        }
        .note_label div {

        }
        .note_con label {
            width:100%;
            height: 300px;
        }
        .note_con textarea{
            padding: 10px;
            width:100%;
            height:100%;
        }
        .straight_line {
            width: 100%;
            height: 1px;
            border: 1px solid #F0F1F2;
        }
        .note_label {
            padding-left: 20px;
            padding-right: 20px;
            margin-left: 80px;
        }

        .my_label {
            border: 1px solid;
            border-radius: 5px;
            padding-left: 10px;
            margin: 5px;
            height: 34px;
            display: inline-block;
            line-height: 34px;
        }
        .rm {
            position: relative;
            top: -15px;
            right: -7px;
            color: #cccccc;
        }
        h2 {
            margin: 20px;
        }
        .foot_button {
            text-align: center;
        }
        .foot_button input{
            height: 34px;
            width: 60px;
            color: white;
            background: #54acd2;
            border: 0;
            border-radius: 5px;
        }
        .add_instructions {
            margin: 20px;
        }
        .add_instructions span {
            width: auto;
            height: auto;
            padding: 10px;
            margin-right: 20px;
            float: left;
        }
        .add_instructions textarea {
            vertical-align:top;
            width: 800px;
            min-width: 500px;
            height: 100px;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="mid_content">
{#        <div class="msg_list">#}
{##}
{#        </div>#}
        {% set x = res.get('note_cur_msg') %}
        <div class="one_note">
            <div class="note_title">
                <span style="background: #54acd2; color: white">标题</span>
                <label>
                    <input id="note_title" type="text" name="note_title" value="{{ x[0] }}">
                </label>
            </div>
            <div class="add_label">
                <span style="background: #54acd2; color: white">标签名称</span>

                <label>
                    <input type="text" id="label_name">
                </label>
                <button id="add_label" style="outline: none" type="button" class="btn btn-default btn-circle" onclick="add_label()">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
            <div id="note_label" class="note_label">
                {% for i in x[1] %}
                <div class="my_label">
                    {{ i }}
                    <i class="glyphicon glyphicon-remove rm" onclick="remove_label(this)"></i>
                </div>
                {% endfor %}

            </div>


            <div class="straight_line">

            </div>

            <div class="add_instructions">
                <span style="background: #54acd2; color: white">笔记说明</span>
                <label>
                    <textarea id="add_instructions">{{ x[2] }}</textarea>
                </label>
            </div>

            <div id="editor">
                <!-- Tips: Editor.md can auto append a `<textarea>` tag -->

                <textarea style="display:none;" id="note_content">{{ x[3] }}</textarea>

            </div>
            <div class="foot_button">
                <label>
                    <input type="button" value="保存" onclick="save_note()">
                </label>
            </div>
            <div id="note_uuid" class="{{ x[4] }}">

            </div>
        </div>
    </div>

    <script>
        // 添加标签
        function add_label(){
            let label_name = document.getElementById('label_name');

            if(label_name.value === "" || label_name.value === null)
            {
                alert("请输入标签名");
            }
            else {
                if(/^[a-zA-Z]+$/.test(label_name.value)){
                    label_name.value = label_name.value.replace(label_name.value[0], label_name.value[0].toUpperCase());
                }
                let di = document.createElement('div');
                di.classList.add("my_label");
                di.style.borderColor = "#cca4e3";

                console.log(di);
                di.innerHTML = label_name.value + "<i class=\"glyphicon glyphicon-remove rm\" onclick=\"remove_label(this)\"></i>";
                let note_label = document.getElementById('note_label');
                note_label.appendChild(di);
                label_name.value = "";
            }
        }
        // 删除标签
        function remove_label(e) {
            // console.log(e.parentNode);

            e.parentNode.remove();
            let labels = document.getElementById("note_label").childNodes;
            console.log(labels);

        }
    </script>
    <script src="/js/jquery.min.js"></script>
    <script src="/editor.md/editormd.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var editor = editormd("editor", {
                width: "100%",
                height: "500px",
                // markdown: "xxxx",     // dynamic set Markdown text
                path : "{{ url }}/editor.md/lib/"  // Autoload modules mode, codemirror, marked... dependents libs path
            });
        });
    </script>
    <script>
        function save_note() {
            let note_uuid = document.getElementById("note_uuid").className;
            let note_title = document.getElementById("note_title").value;
            // console.log(note_title);
            let labels = document.getElementById("note_label").childNodes;
            // console.log(labels.length);
            let str_labels = "";
            for(let j = 1; j < labels.length; j++){
                if(j % 2 === 1){
                    if(labels[j].toString() !== labels[0].toString()) {
                        str_labels += labels[j].innerText + "|";
                        console.log(labels[j]);
                        console.log(labels[0]);
                        console.log(str_labels);
                    }
                }
            }

            // console.log(str_labels);
            let note_instructions = document.getElementById("add_instructions").value;
            // console.log(note_instructions);
            let note_content = document.getElementsByClassName("CodeMirror-code")[0].childNodes;
            let str_content = "" ;
            for(let k = 0; k < note_content.length; k++){
                str_content += note_content[k].innerText + "\n";
            }
            // console.log(str_content);
            $.ajax({
                type: "POST",
                url: "/modification/" + note_uuid,
                data: JSON.stringify({'note_title': note_title, 'str_labels': str_labels, 'note_instructions': note_instructions,
                    'str_content': str_content
                }),
                dataType: "json",
                headers: {
                    'Content-Type': 'application/json',
                },
                success: function (response) {
                    if(response.msg === 'ok'){
                        alert("修改成功！");
                        window.location.href = "/update/" + note_uuid;
                    }else{
                        alert("修改失败")
                    }
                }
            })
        }
    </script>
{% endblock %}