.midContent {
    width: 80%;
    height: auto;
    min-height: 1000px;
    margin: 0 auto;
    min-width: 1200px;
}

.oneNote {
    float: left;
    width: 100%;
    height: auto;
    min-height: 800px;
    background: white;
    margin-left: 10px;
}

.noteProperty {
    width: 100%;
    height: auto;
}

.propertyName {
    width: 100px;
    height: 50px;
    line-height: 50px;
    float: left;
    text-align: right;
    font-weight: bold;
}

.propertyInput {
    margin: 10px;
    display: inline-block;
    position: relative;
}

#labelAddBtnDiv {
    display: inline-block;

}

#labelAddBtnDiv button {
    width: 60px;
    height: 30px;
    background: #54acd2;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #cccccc;
}

.propertyInput > label > input {
    /*margin-top: 20px;*/
    width: 100px;
    height: 36px;
    border: 1px solid #CCCCCC;

    /*box-shadow: 2px 2px 10px #cccccc;*/
    outline: none;
    padding-left: 10px;
}

#customLabels {
    width: 200px;
}

#labelBar {
    margin-left: 110px;
}

.propertyInput input:focus{
    box-shadow: 2px 2px 10px #cccccc;
}

.propertyInput textarea {
    outline: none;
    padding-left: 10px;
    width: 500px;
    height: 100px;
    border: 1px solid #cccccc;
}

#maxInputText{
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-weight: normal;
}

.propertyInput textarea:focus {
    box-shadow: 2px 2px 10px #cccccc;
}

#noteTitle{
    width: 400px;
}

.newLabel {
    height: 30px;
    display: inline-block;
    border: 1px solid #2aabd2;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
}

.newLabel span {
    margin: 10px;
}

.closeSymbol {
    float: right;
    margin-right: 5px;
}

.closeSymbol:hover{
    font-size: 17px;
    cursor: pointer;
}

/*.closeSymbol::before {*/

/*    content: "\2A2F";*/
/*}*/

.CodeMirror {
    min-height: 500px;
}
.CodeMirror-gutters {
    min-height: 500px;
}
.CodeMirror-scroll {
    margin-top: 0;
    min-height: 500px;
}

#footButton {
    text-align: center;
    margin-bottom: 10px;
}

#footButton button{
    height: 34px;
    width: 60px;
    color: white;
    background: #54acd2;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #cccccc;
}
