body {
    background: #f5f6f7;
    margin: 0;
    padding: 0;
}

#topNav {
    height: 40px;
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    border-top: 1px solid #FF7F24;
    border-bottom: 2px solid #F5F6F7;
    z-index: 100;
}

#topMenu {
    height: 40px;
    display: block;
    float: left;
    font-size: 16px;
}

#topLogin {
    height: 40px;
    line-height: 40px;
    font-size: 16px;

}

#topLogin a{
    color: #CD5C5C;
}

.topLoginInfo {
    float: right;
    margin-left: 10px;
}

#allContent {
    width: 100%;
    overflow: auto;
    position: fixed;
    bottom: 110px;
    top: 50px;
}

#topMenu ul {
    list-style: none;
    margin-bottom: 0;
    height: 40px;
    line-height: 40px;
    padding-left: 0;
}

#topMenu li {
    display: inline-block;
    text-align: center;
    width: 100px;
}

#topMenu li:hover {
    background: #F0F1F2;
}

#topMenu a {
    text-decoration: none;
    color: black;
    /*使a标签能够充满li*/
    display: block;
}

#myFooter {
    background: white;
    width: 100%;
    text-align: center;
    line-height: 100px;
    position: fixed;
    bottom: 0;
}

#filingNumber a{
    text-decoration: none;
}
