.noteList {
    height: auto;
    margin: 0 auto;
    background: #f5f6f7;
    float: left;
}

.noteList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*左侧分类导航*/
#labelListBox {
    position: fixed;
    top: 60px;
    width: 300px;
    height: 800px;
    background: white;
}

#searchBox {
    margin: 10px;
}

#searchBox input {
    margin-left: 10px;
}

#searchBox label {
    margin-left: 10px;
}

#submit {
    background: #FF8C69;
    border-radius: 5px;
    border: none;
    width: 60px;
    height: 30px;
    text-align: center;
    color: white;
}

#submit:hover {
    background: #EE3B3B
}

.error-tip {
    width: 100%;
    text-align: center;
    color: red;
    margin: 0 auto;
    padding: 5px;
}

.line {
    width: 100%;
    height: 34px;
}

#redLine {
    margin-top: 15px;
    border: 3px solid #CD5C5C;
}

#sortNoteBox a {
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}

#labelInnerBox {
    height: 700px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: 10px;
}

#labelInnerBox:hover {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 0;
}

#labelInnerBox::-webkit-scrollbar { /*滚动条整体样式*/
    width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
}

#labelInnerBox::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 10px;
    background: lightgray;
}

#labelInnerBox::-webkit-scrollbar-track { /*滚动条里面轨道*/
    border-radius: 10px;
    background: #EDEDED;
}

#labelInnerBox img {
    margin: 5px;
}

#labelInnerBox span {
    color: black;
    font-size: 24px;
}

.one:hover {
    background: #cccccc;
}

#subMenu a {
    text-decoration: none;
}

#subMenu span {
    font-size: 16px;
}

/* navMenu */
#navMenu > li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

#navMenu > li > a {
    display: block;
    padding-left: 0;
    line-height: 40px;
    color: #ABB1B7;
    transition: all .3s;
    position: relative;
    text-decoration: none;
    font-size: 17px;
}

#navMenu > li > a > img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

#navMenu > li:nth-of-type(1) > a {
    border-top: 1px solid transparent;
}

#navMenu > li:last-child > a {
    border-bottom: 1px solid transparent;
}

#navMenu > li > a > i {
    font-size: 20px;
    float: left;
    font-style: normal;
    margin: 0 5px;
}

#navMenu li a .arrow:before {
    float: right;
    margin-right: 15px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome, serif;
    content: "\f105";
    font-weight: 300;
    text-shadow: none;
}

#navMenu li a .arrow.open:before {
    margin-right: 15px;
    display: inline;
    height: auto;
    font-size: 16px;
    content: "\f107";
    font-weight: 300;
    text-shadow: none;
}


#navMenu > li > ul#subMenu, #navMenu > li > ul#subMenu > li > ul#subMenu {
    display: none;

    clear: both;
    margin: 8px 0 0 10px;
    padding-bottom: 5px;
}



#navMenu > li > ul#subMenu li > a {
    display: block;
    font-size: 16px;
    line-height: 36px;
    padding-left: 20px;
    color: #ABB1B7;
    clear: both;
}
/*-----------------*/

/*右侧笔记列表*/
#noteListBox {
    float: right;
    width: 800px;
    margin-left: 350px;
}

#sortNoteBox {
    width: 100%;
    height: 40px;
    background: white;
    margin-bottom: 10px;
}

#sortNoteBox ul {
    list-style: none;
    line-height: 40px;
    float: left;
    width: 60%;
}

#sortNoteBox li {
    text-align: center;
    width: 100px;
    display: inline-block;
}

#sortNoteBox ul .active{
    background-color: indianred;
}

#sortNoteBox li:hover {
    background: indianred;
}

#notes {
    background: white;
    /*overflow: scroll;*/
    /*overflow-x: hidden;*/
    min-height: 1000px;
}

/*#notes::-webkit-scrollbar { !*滚动条整体样式*!*/
/*    width: 10px; !*高宽分别对应横竖滚动条的尺寸*!*/
/*}*/

/*#notes::-webkit-scrollbar-thumb { !*滚动条里面小方块*!*/
/*    border-radius: 10px;*/
/*    background: lightgray;*/
/*}*/

/*#notes::-webkit-scrollbar-track { !*滚动条里面轨道*!*/
/*    border-radius: 10px;*/
/*    background: #EDEDED;*/
/*}*/

.oneNotes {
    border-bottom: 2px solid #F0F1F2;
    height: 100px;
}

.listDetail {
    padding: 15px 15px 0 15px;
    height: 100px;
}

.noteTitle {
    height: 40px;
}

.noteTitle a:hover{
    color: indianred;
}

.noteTitle a {
    color: black;
    text-decoration: none;
    width: 300px;

}

.titleLink {
    float: left;
    width: 70%;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.editNote {
    float: right;
    margin-right: 0;
    width: auto;
    height: 34px;
    line-height: 34px;

}

.vLine {
    width: 20px;
    color: lightgray;
}

.noteFooter >span {
    float: left;
    height: 44px;
    line-height: 44px;
}

.noteFooter img {
    width: 16px;
    height: 16px;
}

.footClick {
    float: right;
    min-width: 100px;
    height: 42px;
    line-height: 42px;
    color: #B5B5B5;
}

.footClick span {
    float: left;
    min-width: 20px;
    text-align: center;
}

.num {
    color: lightskyblue;
}

.footLabels {
    font-size: 12px;
    text-align: center;
    float: left;
    min-width: 200px;
    height: auto;
    line-height: 32px;
}
.footLabels span {
    float: left;
    min-width: 50px;
    /*border: 1px solid #F0F1F2;*/
    color: #3BB189;
    border-radius: 5px;
    margin: 2px;
    padding: 3px;
}

.footLabels span:hover {
    border: 1px solid lightskyblue;
}

.load-tip-block{
    text-align: center;
    background: #FFFDEC;
    color: orange;
    height: 30px;
    line-height: 30px;
    width: 100%;
    opacity: 0;
}

#searchBox {
    height: 40px;
}

#searchBox input {
    height: 30px;
    margin: 5px;
    outline-color: #CD5C5C;
    border: 1px solid #e8e8ed;
    background: #f5f6f7;
    border-radius: 3px;
}

#searchBtn {
    background-color: #CD5C5C;
    color: white;
    outline: none;
    border-radius: 3px;
    height: 30px;
    width: 60px;
    border: none;
}

#pagingBox {
    text-align: right;
}

