{% extends 'base/base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='editor.md/css/editormd.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myself/adding-note.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugin/choice_label/tree.css') }}">

    <script src="{{ url_for('static', filename="js/jquery.min.js") }}"></script>
    <script src="{{ url_for('static', filename="editor.md/editormd.min.js") }}"></script>
    <script src="{{ url_for('static', filename='js/choice_label/comboTreePlugin.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="midContent">
        <div class="oneNote">
            <ol>
                <li class="noteProperty">
                    <div class="propertyName">标题</div>
                    <div class="propertyInput">
                        <label>
                            <input id="noteTitle" type="text">
                        </label>
                    </div>
                </li>
                <li class="noteProperty">
                    <div class="propertyName">标签</div>
                    <div class="propertyInput">
                        <div id="justAnInputBox2" class="select-tree-wrap"></div>
                    </div>
                </li>
                <li class="noteProperty">
                    <div class="propertyName">自定义标签</div>
                    <div class="propertyInput">
                        <label>
                            <input id="customLabels" type="text">
                        </label>
                    </div>
                    <div id="labelAddBtnDiv"><button type="button">添加</button></div>
                </li>
                <li>
                    <div class="noteProperty">
                        <div id="labelBar">

                        </div>
                    </div>
                </li>
                <li class="noteProperty">
                    <div class="propertyName">简介</div>
                    <div class="propertyInput">
                        <label>
                            <textarea id="instructions"></textarea>
                        </label>
                        <span id="maxInputText">0/200</span>
                    </div>
                </li>
            </ol>
            <div id="editor">
                <label>
                    <textarea id="noteContent"></textarea>
                </label>
            </div>
            <div id="footButton">
                <button type="button" onclick="saveNotes()">保存</button>
            </div>
        </div>
    </div>
    <script>
        // 添加现有标签
        let SampleJSONData = {{ data | tojson }};
        let bbb = $('#justAnInputBox2').comboTree({
                source : SampleJSONData,
                isMultiple: true,
                isFirstClassSelectable:false, //第一级是否可选
                cascadeSelect: true,
                selectedlength: 3 //最多可选
        });
    </script>
    <script type="text/javascript">
        // 添加自定义标签
        $("#labelAddBtnDiv button").on("click", function (){
            let labelName = $("#customLabels");
            if(labelName.val() == "" || labelName.val() == null){
                alert("请输入标签名");
            }else{
                if(/^[a-zA-Z]+$/.test(labelName.val())){
                    labelName.val(labelName.val().toUpperCase());
                }
                $("#labelBar").append("<div class='newLabel'><span>"
                    + labelName.val() + "</span><div class='closeSymbol'>X</div></div>");
                labelName.val("");
            }
        })

        // 删除标签
        $("#labelBar").on("click", ".closeSymbol", function (){
            $(this).parents(".newLabel").remove();
        })

    </script>

    <script type="text/javascript">
        $(function() {
            var editor = editormd("editor", {
                width: "100%",
                minHeight: "500px",
                // markdown: "xxxx",     // dynamic set Markdown text
                path : "/editor.md/lib/"  // Autoload modules mode, codemirror, marked... dependents libs path
            });
        });
    </script>
    <script>
        $("#instructions").bind("input propertychange", function (){
            $("#maxInputText").text($(this).val().length.toString() + "/200");
        });
        // 保存
        function saveNotes() {
            let noteTitle = $("#noteTitle").val();
            let labels = $(".input-keyword-item");
            let labelsText = "";
            for(let k = 0; k < labels.length; k++){
                labelsText += labels[k].childNodes[0].innerText + "|"
            }
            {#let existingLabel = document.getElementsByClassName("input-keyword-item");
            let existingLabels = "";


            console.log(existingLabels);
            let customLabels = "";
            for(let j = 1; j < labels.length; j++){
                let s = labels[j].innerText.toString();
                customLabels += s + "|";
            }
            let noteInstructions = document.getElementById("instructions").value;
            let noteContent = document.getElementsByClassName("CodeMirror-code")[0].childNodes;
            let strContent = "" ;
            for(let k = 0; k < noteContent.length; k++){
                strContent += noteContent[k].innerText + "\n";
            }
            console.log(strContent);#}
            {#$.ajax({
                type: "POST",
                url: "/add/",
                data: JSON.stringify({'note_title': noteTitle, 'existing_label': existingLabels, 'custom_labels': customLabels,
                    'note_instructions': noteInstructions, 'str_content': strContent
                }),
                dataType: "json",
                contentType: 'application/json',
                headers: {
                    'Content-Type': 'application/json',
                    "X-CSRFToken": $("meta[name='myNote']").attr("content")
                },
                success: function (response) {
                    if(response.msg == 1){
                        alert("保存成功！");
                        window.location.href = "/add/";
                    }else{
                        alert("保存失败")
                    }
                }
            })#}
        }
    </script>
{% endblock %}