{% extends 'base/base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myself/home.css') }}">
    <script src="{{ url_for('static', filename='js/pop_frame/simpleAlert.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/nav/jquery.slimscroll.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="noteList row">
            <div id="labelListBox" class="col-xs-3">
                <div class="line">
                    <div id="redLine"></div>
                </div>
                <div id="labelInnerBox">
                    <ul id="navMenu">
                        {% for i in res.get('top_categorys') %}
                            <li>
                                <a style="text-decoration: none;">
                                    <img src="images/icon/{{ i[0] | lower}}.png" alt="图片加载失败">
                                    <span class="secondaryLabel">{{ i[0] | capitalize }}</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul id="subMenu">
                                    {% for j in i[1] %}
                                    <li class="one">
                                        <a href="#"><span>{{ j }}</span></a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="noteListBox" class="col-xs-7">
                <div id="sortNoteBox">
                    <ul>
                        <li class="filter-col">推荐</li>
                        <li class="filter-col">最新添加</li>
                    </ul>
                    <div id="searchBox">
                        <label>
                            <input type="text" placeholder="">
                        </label>
                        <button id="searchBtn">搜索</button>
                    </div>
                </div>
                <ul id="notes">
                    {% for r in res.get('note_msg') %}
                        <li class="oneNotes">
                            <div class="listDetail">
                                <div class="noteTitle">
                                    <div class="titleLink">
                                        <a href="/detail/{{ r[0] }}/">{{ r[1] }}</a>
                                    </div>

                                    <div class="editNote">
                                        <span><a href="/update/{{ r[0] }}/">修改</a></span>
                                        <span class="vLine">|</span>
                                        <span><a class="deleteNote">删除</a></span>
                                    </div>
                                </div>
                                <div class="noteFooter">
                                    <span ><img
                                            src="{{ url_for('static', filename='images/icon/label-icon.png') }}" alt="图片加载失败"></span>
                                    <div class="footLabels">
                                        {% for i in r[2].split('|') %}
                                            {% if i %}
                                            <span>{{ i }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="footClick">
                                        <span>阅读数：</span>
                                        <span class="num">{{ r[4] }}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div id="pagingBox">
                    <ul class="pagination pagination-lg">
                        <li class="pagingBtn"><a href="#">&laquo;</a></li>
                        {% for p in range(1, res["pages"] + 1) %}
                        {% if p == res["page"] %}
                            <li class="pagingBtn active"><a href="#">{{ p }}</a></li>

                        {% else %}
                            <li class="pagingBtn"><a href="#">{{ p }}</a></li>
                        {% endif %}
                        {% endfor %}
                        <li class="pagingBtn"><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // 筛选信息管理
        class ScreenInfo {
            // 获取当前点击的一级标签值
            constructor() {
                // 初始化筛选条件字典
                this.screenConditions = {
                    "primaryClass": "",
                    "secondaryClass": "",
                    "generalScreen": "recommend",
                    "keyword": "",
                    "curPage": 1
                };

            }

            getPrimaryLabelVal(){
                $(".secondaryLabel").on("click", function () {
                    console.log($(this).text());
                })
            }

            setPrimaryLabelVal(labelName){
                this.screenConditions["primaryClass"] = labelName;
            }

            // 设置二级筛选条件
            setSecondaryLabelVal(labelName){
                this.screenConditions["secondaryClass"] = labelName;
            }

            // 设置常规筛选条件
            setGeneralScreenVal(condition){
                if(condition == "推荐"){
                    condition = "recommend";
                }else if(condition == "最新添加"){
                    condition = "latest";
                }else{
                    condition = ""
                }

                this.screenConditions["generalScreen"] = condition;
            }

            // 设置关键字筛选条件
            setKeywordVal(keyword){
                this.screenConditions["keyword"] = keyword;
            }

            // 设置所有筛选条件
            setAllScreenVal(secondaryLabel, general, Keyword){
                this.setSecondaryLabelVal(secondaryLabel);
                this.setGeneralScreenVal(general);
                this.setKeywordVal(Keyword);
            }

            setCurPage(page){
                this.screenConditions['curPage'] = page;
            }

            // 筛选请求
            filterData() {
                $.ajax({
                    type: "POST",
                    url: "/filter_col/",
                    data: JSON.stringify(this.screenConditions),
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    success: function (response) {
                        // 删除所有li 并重新添加li
                        var notesObj = $("#notes");
                        let pagingObj = $("#pagingBox .pagination");
                        notesObj.empty();
                        pagingObj.empty();
                        var resArr = response.note_msg
                        var pagingCount = response.page_count;
                        var curPage = response.cur_page;
                        for (var i=0;i<resArr.length;i++){
                            var labelList = resArr[i][2].split("|")
                            var labelStr = ""
                            for(var j=0; j<labelList.length;j++){
                                labelStr += "<span>" + labelList[j] + "</span>";
                            }
                            notesObj.append("<li class=\"oneNotes\">\n" +
                                "                        <div class=\"listDetail\">\n" +
                                "                            <div class=\"noteTitle\">\n" +
                                "                                \n" +
                                "                                   <div class=\"titleLink\">\n" +
                                "                                    <a href=\"/detail/" + resArr[i][0] + "/\">" + resArr[i][1] +"</a>\n" +
                                "                                </div>" +

                                "                                <div class=\"editNote\">\n" +
                                "                                    <span><a href=\"/update/" + resArr[i][0] + "/\">修改</a></span>\n" +
                                "                                    <span class=\"vLine\">|</span>\n" +
                                "                                    <span><a class=\"deleteNote\">删除</a></span>\n" +
                                "                                </div>" +
                                "                                \n" +
                                "                                \n" +
                                "                                \n" +

                                "                            </div>\n" +
                                "                            <div class=\"noteFooter\">\n" +
                                "                                <span><img src=\"{{ url_for('static', filename='images/icon/label-icon.png') }}\" alt=\"图片加载失败\"></span>\n" +
                                "                                <div class=\"footLabels\">\n" + labelStr +
                                "                                </div>\n" +
                                "                                <div class=\"footClick\">\n" +
                                "                                    <span>阅读数：</span>\n" +
                                "                                    <span class=\"num\">" + resArr[i][4] + "</span>\n" +
                                "                                </div>\n" +
                                "                            </div>\n" +
                                "                        </div>\n" +
                                "                    </li>")
                        }
                        pagingObj.append("<li class=\"pagingBtn\"><a href=\"#\">&laquo;</a></li>");
                        for (let j=1; j<pagingCount + 1; j++){
                            if(curPage != j){

                                pagingObj.append("<li class=\"pagingBtn\"><a href=\"#\">" + j + "</a></li>");
                            }else{
                                pagingObj.append("<li class=\"pagingBtn active\"><a href=\"#\">" + j + "</a></li>");
                            }
                        }
                        pagingObj.append("<li class=\"pagingBtn\"><a href=\"#\">&raquo;</a></li>")
                    }
                })
            }
        }

        var screen = new ScreenInfo();

        var firstMenuObj = $("#sortNoteBox");
        firstMenuObj.children("ul").children(":eq(0)").addClass("active");

        //单次双选弹框
        // delegate 元素动态加载绑定事件
        $("body").delegate(".deleteNote", "click", function (e) {
            let url = $(this)[0].parentNode.parentNode.childNodes[1].childNodes[0].href;
            let newUrlList = url.split("/");
            let dblChoseAlert = simpleAlert({
                "title":"确定要删除吗",
                {#"content":"请按确定回调函数!",#}
                "buttons":{
                    "确定":function () {
                        $.ajax({
                            type: "POST",
                            url: "/delete/" + newUrlList[4] + "/",
                            data: JSON.stringify(screen.screenConditions),
                            dataType: "json",
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            success: function (response) {

                                // 删除所有li 并重新添加li
                                let liOneNotes = document.getElementsByClassName("oneNotes");
                                let notes = document.getElementsByClassName("notes")[0];
                                let count = liOneNotes.length;
                                let copyData = liOneNotes[0].cloneNode(true);

                                for (let k = 0; k < count; k++) {
                                    notes.removeChild(liOneNotes[0]);
                                }
                                let responseData = response.note_msg;
                                for (let j = 0; j < responseData.length; j++) {
                                    let cloneData = copyData.cloneNode(true);
                                    if (responseData[j][1].length > 50) {
                                        responseData[j][1] = responseData[j][1].substring(0, 50) + '...'
                                    }
                                    // 修改标题名称
                                    cloneData.childNodes[1].childNodes[1].childNodes[1].innerText = responseData[j][1];

                                    //修改标题href
                                    cloneData.childNodes[1].childNodes[1].childNodes[1].href = "/detail/" + responseData[j][0] +"/";

                                    // “修改”href
                                    cloneData.childNodes[1].childNodes[1].childNodes[3].childNodes[1].childNodes[0].href
                                        = "/update/" + responseData[j][0] +"/";

                                    //修改标签名称
                                    let labelList = responseData[j][2].split('|');
                                    cloneData.childNodes[1].childNodes[3].childNodes[3].innerHTML = "";
                                    for (let m = 0; m < labelList.length - 1; m++) {

                                        cloneData.childNodes[1].childNodes[3].childNodes[3].appendChild(document.createElement("span"));
                                        cloneData.childNodes[1].childNodes[3].childNodes[3].childNodes[m].innerText = labelList[m];
                                    }
                                    // 阅读数
                                    cloneData.childNodes[1].childNodes[3].childNodes[5].childNodes[3].innerText = responseData[j][4];
                                    notes.append(cloneData);

                                }
                            },
                            complete: function () {
                                dblChoseAlert.close();
                            }

                        });


                    },
                    "取消":function () {
                        dblChoseAlert.close();
                    }
                }
            })
        })

        //设置token
        function getQueryVariable(variable)
        {
            let query = window.location.search.substring(1);
            let vars = query.split("&");
            for (let i=0; i<vars.length; i++) {
                let pair = vars[i].split("=");
                if(pair[0] === variable){return pair[1];}
            }
            return false;
        }
        token = getQueryVariable("token");
        if(token){
            let exp = new Date();
            exp.setTime(exp.getTime() + 48 * 60 * 60000); //过期时间48小时分钟
            localStorage.setItem("token", token);
            document.cookie = "token=" + token + "; path=/; expires=" + exp.toGMTString();
        }

        //左侧下拉菜单
        $(function () {
            // nav收缩展开
            $('#navMenu li a').on('click', function () {
                var parent = $(this).parent().parent();//获取当前页签的父级的父级
                var label = $(this).parent("li").find(">ul");
                if ($(this).parent().hasClass('open') === false) {
                    //展开未展开
                    parent.find('ul').slideUp(300);
                    parent.find("li").removeClass("open");
                    parent.find('li a').removeClass("active").find(".arrow").removeClass("open");
                    $(this).parent("li").addClass("open").find(label).slideDown(300);
                    $(this).addClass("active").find(".arrow").addClass("open")
                } else {
                    $(this).parent("li").removeClass("open").find(label).slideUp(300);
                    if ($(this).parent().find("ul").length > 0) {
                        $(this).removeClass("active").find(".arrow").removeClass("open")
                    } else {
                        $(this).addClass("active")
                    }
                }

            });
        });

        // 右侧顶部菜单筛选
        $('.filter-col').on('click', function () {
            let filter = $(this);
            // 删除所有active 对当前添加active
            let filterList = filter.parent("ul").children();
            for (let i = 0; i < filterList.length; i++) {
                filterList[i].classList.remove('active');
            }
            $(this).addClass("active");
            let labelName = $(this).children('a').children('span').text();
            let generalScreen = $(this).text();
            let keywordInputVal = $("#searchBox label input").val();
            screen.setAllScreenVal(labelName, generalScreen, keywordInputVal);
            screen.filterData();
        });

        //搜索框筛选
        $("#searchBtn").on('click', function () {
            var curKeyword = $("#searchBox label input").val();
            let generalScreen = $("#sortNoteBox ul").children('li.filter-col.active').text();
            screen.setAllScreenVal("", generalScreen, curKeyword);
            screen.filterData();
        })

        // 点击左侧导航菜单筛选
        $('.one').on('click', function () {
            let labelName = $(this).children('a').children('span').text();
            let generalScreen = $("#sortNoteBox ul").children('li.filter-col.active').text();
            let keywordInputVal = $("#searchBox label input").val();
            screen.setAllScreenVal(labelName, generalScreen, keywordInputVal);
            screen.filterData();
        });

        $("#pagingBox").on("click", '.pagingBtn', function () {
            let pageNum = $(".pagination").children().length - 2;
            let activatePage = $(".pagination").children(".active").text()
            let generalScreen = $("#sortNoteBox ul").children('li.filter-col.active').text();
            let keywordInputVal = $("#searchBox label input").val();
            let curPage = $(this).text();
            if(curPage == "«"){
                if(activatePage > 1){
                    curPage = parseInt(activatePage) - 1;
                }else{
                    curPage = 1;
                }
            }else if(curPage == "»"){
                if(activatePage < pageNum){
                    curPage = parseInt(activatePage) + 1;
                }else{
                    curPage = pageNum;
                }
            }

            screen.setGeneralScreenVal(generalScreen);
            screen.setKeywordVal(keywordInputVal);
            screen.setCurPage(curPage);
            screen.filterData();
        })
    </script>

{% endblock %}
