{% extends 'base/base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link rel="stylesheet" href="/editor.md/css/editormd.preview.css" />
    <link rel="stylesheet" href="/css/myself/note-detail.css">

{% endblock %}
{% block content %}
    <div class="mid-content">
        <div class="msg-list">
            <div class="recommend-title">推荐</div>
            {% for i in res.get('note_title') %}
            <div class="title-list" onclick="window.location.href='{{ url }}/detail/{{ i[0] }}'">
                <a href="#" data-toggle="tooltip" data-placement="right" title="{{ i[1] }}">{{ i[1] }}</a>
            </div>
            {% endfor %}

        </div>
        <div class="one-note">
            {% set j = res.get('note_det') %}
            <div class="note-title">
                <h3>{{ j[1] }}</h3>
                <br>
                <p><span>{{ j[2] }}</span><span style="color: #54acd2">作者: hello</span><span>阅读数：{{ j[6] }}</span>
                    <span id="upRi" class="up-ri"><a href="{{ url }}/update/{{ j[0] }}">修改</a></span></p>

            </div>
            <div class="note-label">
                {% for i in j[3].split('|')[:-1] %}
                <span class="my-label" style="border-color: #cca4e3; text-align: center">{{ i }}</span>
                {% endfor %}
            </div>
            <div class="spec-description">
                <h4>笔记说明</h4>
                <br>
                {{ j[4] }}
            </div>
            <div class="straight-line">

            </div>
            <div class="note-con">
                <div id="test-markdown-view">
                    <!-- Server-side output Markdown text -->
                        <textarea style="display:none;">{{ j[5] }}</textarea>
                </div>
            </div>

        </div>

    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/editor.md/editormd.js"></script>
    <script src="/editor.md/lib/marked.min.js"></script>
    <script src="/editor.md/lib/prettify.min.js"></script>
    <script type="text/javascript">
        $(function() {
          var testView = editormd.markdownToHTML("test-markdown-view", {
                // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
                // htmlDecode : true,  // Enable / disable HTML tag encode.
                // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
                width: "100%",
                autoHeight: true,
                path : "{{ url }}/editor.md/lib/"
            });
        });
        if(document.cookie && document.cookie.split("=")[0] === "token"){
            document.getElementById("upRi").style.display = "inline";
        }

    </script>
{% endblock %}