{% extends 'base/base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='editor.md/css/editormd.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myself/update-note.css') }}">
    <style>
{#    .CodeMirror {
        min-height: 500px;
    }
    .CodeMirror-gutters {
        min-height: 500px;
    }
    .CodeMirror-scroll {
        min-height: 500px;
    }#}
    </style>
{% endblock %}
{% block content %}
    <div class="midContent">
        {% set x = res.get('note_cur_msg') %}
        <div class="oneNote">
            <div class="noteTitle">
                <span style="background: #54acd2; color: white">标题</span>
                <label>
                    <input id="noteTitle" type="text" name="noteTitle" value="{{ x[0] }}">
                </label>
            </div>
            <div class="addLabel">
                <span style="background: #54acd2; color: white">标签名称</span>

                <label>
                    <input type="text" id="labelName">
                </label>
                <button id="addLabel" style="outline: none" type="button" class="btn btn-default btn-circle" onclick="addLabel()">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
            <div id="noteLabels" class="noteLabel">
                {% for i in x[1].split('|')[:-1] %}
                <div class="myLabel">
                    {{ i }}
                    <i class="glyphicon glyphicon-remove rm" onclick="removeLabel(this)"></i>
                </div>
                {% endfor %}

            </div>


            <div class="straightLine">

            </div>

            <div class="addInstructions">
                <span style="background: #54acd2; color: white">笔记说明</span>
                <label>
                    <textarea id="addInstructions">{{ x[2] }}</textarea>
                </label>
            </div>

            <div id="editor">
                <!-- Tips: Editor.md can auto append a `<textarea>` tag -->

                <textarea id="noteContent">{{ x[3] }}</textarea>

            </div>
            <div class="footButton">
                <label>
                    <input type="button" value="保存" onclick="saveNote()">
                </label>
            </div>
{#            <div id="noteUuid" class="{{ x[4] }}">#}
{##}
{#            </div>#}
        </div>
    </div>

    <script>
        // 添加标签
        function addLabel(){
            let labelName = document.getElementById('labelName');

            if(labelName.value === "" || labelName.value === null)
            {
                alert("请输入标签名");
            }
            else {
                if(/^[a-zA-Z]+$/.test(labelName.value)){
                    labelName.value = labelName.value.replace(labelName.value[0], labelName.value[0].toUpperCase());
                }
                let di = document.createElement('div');
                di.classList.add("myLabel");
                di.style.borderColor = "#cca4e3";
                di.innerHTML = labelName.value + "<i class=\"glyphicon glyphicon-remove rm\" onclick=\"removeLabel(this)\"></i>";
                let noteLabel = document.getElementById('noteLabels');
                noteLabel.appendChild(di);
                labelName.value = "";
            }
        }
        // 删除标签
        function removeLabel(e) {
            e.parentNode.remove();
        }
    </script>
    <script src="{{ url_for('static', filename="js/jquery.min.js") }}"></script>
    <script src="{{ url_for('static', filename="editor.md/editormd.min.js") }}"></script>
    <script type="text/javascript">
        $(function() {
            var editor = editormd("editor", {
                width: "100%",
                height: 600,
                // markdown: "xxxx",     // dynamic set Markdown text
                path : "/editor.md/lib/"  // AutoLoad modules mode, codemirror, marked... dependents libs path
            });
        });
    </script>


    <script>
        function saveNote() {
            let noteId = window.location.href.split("/")[4];
            let noteTitle = document.getElementById("noteTitle").value;
            let labels = $("#noteLabels").children(".myLabel");
            let strLabels = "";
            for(let j = 0; j < labels.length; j++){
                strLabels += labels[j].innerText + "|";
            }
            let noteInstructions = document.getElementById("addInstructions").value;
            let noteContent = document.getElementById("noteContent").innerText;
             $.ajax({
                type: "POST",
                url: "/modification/" + noteId + "/",
                data: JSON.stringify({'note_title': noteTitle, 'str_labels': strLabels, 'note_instructions': noteInstructions,
                    'str_content': noteContent
                }),
                dataType: "json",
                headers: {
                    'Content-Type': 'application/json',
                    "X-CSRFToken": $("meta[name='myNote']").attr("content")
                },
                success: function (response) {
                    if(response.msg == '1'){
                        alert("修改成功！");
                        window.location.href = "/modification/" + noteId + "/";
                    }else{
                        alert("修改失败")
                    }
                }
            })
        }
    </script>
{% endblock %}