.note_list {
    width: 70%;
    min-width: 750px;
    height: auto;
    margin: 0 auto;
    background: #f5f6f7;
}
.note_list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.le {
    float: left;
    width: 70%;
    min-width: 500px;
    height: 100%;
}
.ri {
    float: right;
    width: 29%;
    min-width: 200px;
    height: 800px;
    background: white;
}
.sort_note {
    width: 100%;
    height: 40px;
    background: white;
    margin-bottom: 10px;
}
.sort_note ul {
    list-style: none;
    line-height: 40px;
    float: left;
}
.sort_note li {
    text-align: center;
    width: 100px;
    display: inline-block;
}
.sort_note ul .active{
    background-color: indianred;
}
.sort_note li:hover {
    background: indianred;
}
/*.sort_input {*/
/*    float: right;*/
/*}*/
.one_notes {
    border-bottom: 2px solid #F0F1F2;
    height: 130px;
}
.list_detail {
    padding: 15px 15px 0 15px;
    height: 130px;
}
.note_title {
    min-width: 300px;
}
.edit_note {
    float: right;
    margin-right: 0;
    width: auto;
    height: 34px;
    line-height: 34px;

}
.note_content {
    color: #8a8a8a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;
}
.note_footer img {
    width: 16px;
    height: 16px;
}
.right_fo {
    float: right;
    min-width: 200px;
    height: 42px;
    line-height: 42px;
}
.right_fo span {
    float: left;
    min-width: 20px;
    text-align: center;
}
.notes {
    background: white;
}
.v_line {
    width: 20px;
    color: lightgray;
}
.num {
    color: lightskyblue;
}
.note_title a:hover{
    color: indianred;
}
.left_fo {
    text-align: center;
    float: left;
    min-width: 200px;
    height: auto;
    line-height: 32px;
}
.left_fo span {
    float: left;
    min-width: 50px;
    border: 1px solid #F0F1F2;
    border-radius: 5px;
    margin: 2px;
    padding: 3px;
}
.left_fo span:hover {
    border: 1px solid lightskyblue;
}

.note_title a {
    color: black;
    text-decoration: none;
}


